<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpectraClassify</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
</head>
<style>
    body {
        background-image: url("{{ url_for('static', filename='images/bg.jpg') }}");
        background-size: cover;
    }
</style>

<body>
    <div class="text-bg">

        <h1 class="text-center">SpectraClassify</h1>
        <!-- <br> -->
        <h3 class="text-center">
            Train a image classification model with No CODE...!
        </h3>
    </div>


    <div class="center-sqr-box">

        <form action="" method="post" class="row g-3">
            <div class="col-md-6">
                <label for="Training_Dir" class="form-label">Training Directory</label>
                <input type="text" class="form-control" name="Training_Dir" id="Training_Dir" placeholder="Directory path of training samples">
            </div>
            <div class="col-md-6">
                <label for="Validation_Dir" class="form-label">Validation Directory</label>
                <input type="text" class="form-control" name="Validation_Dir" id="Validation_Dir" placeholder="Directory path of validation samples">
            </div>

            <div class="col-md-6">
                <label for="Classes" class="form-label">Number of Classes</label>
                <input type="number" class="form-control" min="2" max="1000" name="Classes" id="Classes" placeholder="2 or 3 or 4... ">
            </div>

            <div class="col-md-6">
                <label for="Image_Size" class="form-label">Image-Shape</label>
                <input type="text" class="form-control" placeholder="Ex: 224,224,3" name="Image_Size" id="Image_Size">
            </div>

            <div class="col-md-6">
                <label for="Model_Name" class="form-label">Pretrained Model</label>
                <select name="Model_Name" id="Model_Name" class="form-select">
                    <option selected>Choose...</option>
                    <option>ResNet50V2</option>
                    <option>VGG16</option>
                    <option>VGG19</option>
                    <option>Xception</option>
                    <option>InceptionV3</option>
                </select>
            </div>

            <div class="col-md-6">
                <label for="Freeze_Layer" class="form-label">Freeze Layer Weights</label>
                <!-- <input type="text" class="form-control" name="Freeze_Layer" id="Freeze_Layer" placeholder="True / False"> -->
                <select name="Freeze_Layer" id="Freeze_Layer" class="form-select">
                    <option selected>True/False</option>
                    <option>True</option>
                    <option>False</option>

                </select>
            </div>
            <div class="col-md-4">
                <label for="Batch_Size" class="form-label">Batch Size</label>
                <input type="number" class="form-control" min="2" max="128" name="Batch_Size" id="Batch_Size">
            </div>

            <div class="col-md-4">
                <label for="Learning_Rate" class="form-label">Learning Rate</label>
                <input type="number" class="form-control" name="Learning_Rate" value="0.001" id="Learning_Rate"
                    placeholder="0.1 to 1e-7">
            </div>

            <div class="col-md-4">
                <label for="Augmentation" class="form-label">Augmentation</label>
                <select name="Augmentation" id="Augmentation" class="form-select">
                    <option selected>True/False</option>
                    <option>True</option>
                    <option>False</option>

                </select>
            </div>
            <div class="col-md-4">
                <label for="Optimizer" class="form-label">Optimizer</label>
                <select name="Optimizer" id="Optimizer" class="form-select">
                    <option selected>Choose...</option>
                    <option>CategoricalCrossEntroy</option>
                    <option>None</option>
                </select>
            </div>
            <div class="col-md-4">
                <label for="Loss" class="form-label">Loss Function</label>
                <select name="Loss" id="Loss" class="form-select">
                    <option selected>Choose...</option>
                    <option>Adam</option>
                    <option>RMSprop</option>
                    <option>SGD</option>

                </select>
            </div>
            <div class="col-4">
                <label for="Epochs" class="form-label">Epochs</label>
                <input type="number" class="form-control" min="2" max="555" name="Epochs" id="Epochs">
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Start-Training</button>
            </div>
        </form>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>

</html>